/* 修改了这里的路径，解决了因移动文件夹而报错 */
@font-face {
    font-family: "fontone";
    src: url("./font1.ttf");
    img-weight: normal;
    img-style: normal;
}

@font-face {
    font-family: "fontwo";
    src: url("./font2.TTF");
    img-weight: normal;
    img-style: normal;
}

@font-face {
    font-family: "fonthree";
    src: url("./font3.TTF");
    img-weight: normal;
    img-style: normal;
}