/* *彩色字体 */

.color-font {
    background: linear-gradient(90deg, #2112a8 5%, #f0400b 80%, #d64e24 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}