.home-monitor {
    border-left: 1px solid rgb(195, 195, 195);

    height: 100%;
}

.home-monitor-box {
    // background-color: white;
    font-size: 17px;
    border-bottom: 2px solid black;
    padding: 15px;
}